<div class="footer">
    <img src="/assets/images/logo-white.svg" alt="logo" />

    <div class="links">
        <a href="#!" *ngFor="let link of links">{{link}}</a>
    </div>

    <div class="social">
        <a href="#!">
            <img src="/assets/images/facebook.svg" alt="facebook" />
        </a>
        <a href="#!">
            <img src="/assets/images/twitter.svg" alt="twitter" />
        </a>
        <a href="#!">
            <img src="/assets/images/instagram.svg" alt="instagram" />
        </a>
    </div>
</div>