<div class="container">
    <div class="title">
        <span class="big">Monitor your business on real-time dashboard</span>
        <span class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
            pellentesque
            volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.</span>
        <a href="#!" class="btn-accent">Try for free</a>
    </div>
    <div class="image">
        <img src="assets/images/main-screen.png" alt="mainscreen" />
    </div>
</div>